<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}">
</head>
<body>

<div class="book">
    <div class="cover-design">
        <div class="diamond-frame">
            <div class="box a"></div>
            <div class="box b"></div>
            <div class="box c"></div>
            <div class="box d"></div>
        </div>
        <div class="book-title">HTML<span>&</span>CSS</div>
        <p class="book-subtitle">design and build websites</p>
    </div>
    
   <div class="metadata"> <a href="publisher/">MetaData</a></div>
    <div class="reviews"> <a href="publisher/">Reviews</a></div>
    <div class="publisher"> <a href="publisher/">Publisher</a></div>
  </div>

  
</body>
</html>

